@font-face {
    font-family: Coves;
    src: url('../fonts/Coves-Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: Coves;
    src: url('../fonts/Coves-Bold.otf') format('opentype');
    font-weight: bold;
}
#form{
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    line-height: 41.5px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 25px;
    text-decoration: none;
}
*
{
  font-family: "Roboto";
}
* h1,h2,h3,h4,h5,h6
{
  font-family: Coves !important;
  font-weight: bold !important;
}
.centercontainer
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
{
  background: #a8518a !important;
  color: #fff !important;
}
.navbar-right .dropdown-menu
{
    left:0 !important;
    right:auto !important;
    /*margin-right:-10px !important;*/
}
.dropdown-menu>li>a
{
  color: #9d9d9d !important;
  background: #222;
}
.dropdown-menu>li>a:hover
{
  background: #a8518a !important;
  color: #fff !important;
}
.dropdown-menu
{
  border-color:#080808;
  padding: 0px !important;
}

body
{
    overflow-x: hidden;
}
body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  /*border-radius: 10px;*/
  background-color: #333;
}

body::-webkit-scrollbar
{
  width: 1em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  /*border-radius: 10px;*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  background-color: #a8518a;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background: #a8518a !important;
}
.navbar-inverse .navbar-nav>.active>a
{
    background: #a8518a !important;
}
#logo {
    height: 48px;
    padding: 3px 10px 5px 0px;
}
.headimage
{
  height:50vh;
  position:relative;
  background: url('../images/bg_images/78.png');
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.centerer
{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
h1
{
  text-align: center;
}
hr{
    border: 0;
    height: 1px !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/* Heading Styling */
h1 {
  color: #666;
  letter-spacing: 2px;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

/* Main Content Area */
.main-area {
  padding: 2em;
}

.cards p {
  margin-bottom: 1.5em;
}

.cards h2 {
  font-size: 1.6em;
}

/* Cards Container */
.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto;
}

/* Card Styling */
.card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 2em);
  min-width: 280px;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* RGB Lighting Effect */
/* RGB Lighting Effect */
.card {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 20px;
  background: linear-gradient(45deg, rgb(255, 0, 150), rgb(0, 200, 255), rgb(0, 255, 100));
  background-size: 300% 300%;
  animation: rgbGlow 6s infinite alternate ease-in-out;
  z-index: -1;
  opacity: 0;
  filter: blur(12px);
  transition: opacity 0.3s ease-in-out;
}

.card:hover::before {
  opacity: 0.7;
}

@keyframes rgbGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


/* Hover Effects */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

/* Thumbnail Image Styling */
.thumbnail img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card:hover .thumbnail img {
  transform: scale(1.08);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

/* Card Content */
.card-content {
  padding: 1.5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

/* Title Styling */
.card-content h2 {
  font-size: 1.7em;
  margin-bottom: 0.5em;
  font-weight: 700;
  color: #34495e;
}

/* Paragraph Styling */
.card-content p {
  color: #7f8c8d;
  font-size: 1.1em;
  line-height: 1.7;
  margin-bottom: 1.2em;
}

/* Card Links */
.card a {
  color: #2c3e50;
  text-decoration: none; /* Removes underline */
  font-weight: 600;
  display: inline-block;
  padding: 5px 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Link Hover Effect */
.card a:hover {
  color: #e74c3c;
  transform: scale(1.05);
}

/* Prevents Text Underline on Click */
.card a:focus, 
.card a:active {
  text-decoration: none;
  outline: none;
}


/* Responsive Layout */
@media screen and (min-width: 1024px) {
  .card {
      width: calc(33.333% - 2em); /* 3 Cards per row */
  }
}

@media screen and (max-width: 1023px) {
  .card {
      width: calc(50% - 2em); /* 2 Cards per row */
  }
}

@media screen and (max-width: 768px) {
  .cards-container {
      padding: 1em;
  }

  .card {
      width: 100%; /* Full width on smaller screens */
  }
}

/* Modal Styling */
.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


/* Card Based Layout - Base styles */

/* Existing styles */
/* General Container for Cards */



/* Flexbox stuff */

@media screen and (min-width: 40em) {
    .cards {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: -1em;
    }

    .card {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex: 0 1 calc(50% - .5em);
            -ms-flex: 0 1 calc(50% - .5em);
                flex: 0 1 calc(50% - .5em);
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 39.9em) {

  .main-area {padding: 0em;}
  .card {margin-bottom: 0em;}
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }

    .card {
        -webkit-flex: 0 1 calc(33% - 1em);
            -ms-flex: 0 1 calc(33% - 1em);
                flex: 0 1 calc(33% - 1em);
        margin-bottom: 2em;
    }
}


#socialdiv{
  min-height: 15vh;
  background: #232526;  /* fallback for old browsers */
  padding: 10px 10px 1px 10px;
}
#socialx{
  /*position: absolute;*/
  bottom: 0;
}
.transition-animation {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* Ul styles */
#socialx ul {
  list-style: none;
}
#socialx ul > li {
  display: inline;
  margin-right: 20px;
}
/*
* Icon styles
*
* There are styles for icon and everything which are connected with it.
*/
.icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  color: #f1f1f1;
  line-height: 52px;
  text-align: center;
  background-color: #000000;
}
.icon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
}
/* Hover effect */
.icon-effect .icon {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.icon-effect .icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f1f1f1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.icon-effect-1a .icon:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.icon-effect-1a .icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.carousel .item {
  height: 100vh;
  width:100%;
}

.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
}

@keyframes flash {
  0% { color: #ff0000; } /* Red */
  50% { color: #ffff00; } /* Yellow */
  100% { color: #ff0000; } /* Red */
}

.flashing {
  font-weight: bold;
  animation: flash 1s infinite;
  font-size: 16px;
  text-decoration: none;
}