@font-face {
    font-family: Coves;
    src: url('../fonts/Coves-Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: Coves;
    src: url('../fonts/Coves-Bold.otf') format('opentype');
    font-weight: bold;
}
#form{
    position: fixed;
    top: 70px;
    left: 0px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    line-height: 41.5px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 25px;
    text-decoration: none;
}
*
{
  font-family: "Roboto";
}
* h1,h2,h3,h4,h5,h6
{
  font-family: Coves !important;
  font-weight: bold !important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
{
  background: #a8518a !important;
  color: #fff !important;
}
.navbar-right .dropdown-menu
{
    left:0 !important;
    right:auto !important;
    /*margin-right:-10px !important;*/
}
.dropdown-menu>li>a
{
  color: #9d9d9d !important;
  background: #222;
}
.dropdown-menu>li>a:hover
{
  background: #a8518a !important;
  color: #fff !important;
}
.dropdown-menu
{
  border-color:#080808;
  padding: 0px !important;
}

body
{
    overflow-x: hidden;
}
body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  /*border-radius: 10px;*/
  background-color: #333;
}

body::-webkit-scrollbar
{
  width: 1em;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  /*border-radius: 10px;*/
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
  background-color: #a8518a;
}
.navbar-inverse .navbar-nav>li>a:hover {
    background: #a8518a !important;
}
.navbar-inverse .navbar-nav>.active>a
{
    background: #a8518a !important;
}
#logo {
    height: 48px;
    padding: 3px 10px 5px 0px;
}
.headimage
{
  height:50vh;
  position:relative;
  background: url('../images/bg_images/speakerbg.png');
  /*background-attachment: fixed;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.centerer
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1,h2
{
  text-align: center;
}
hr{
    border: 0;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.parent
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*border: 5px solid red;*/
}
.content
{
  -ms-flex-item-align: center;
      align-self: center;
}
.image
{
  -ms-flex-item-align: center;
      align-self: center;
}
.content
{
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.main :nth-child(2n+1) :nth-child(1)
{
  text-align: right;
}
.main :nth-child(2n) :nth-child(2)
{
  text-align: right;
}
.main :nth-child(2n) :nth-child(2)
{
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1
}
@media (max-width: 762px)
{
  .parent
  {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .parent .content
  {
    text-align: center !important;
  }
  .image
  {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 65vmin !important;
  }
}


#socialdiv{
  min-height: 15vh;
  background: #232526;  /* fallback for old browsers */
  padding: 10px 10px 1px 10px;
}
#socialx{
  /*position: absolute;*/
  bottom: 0;
}
.transition-animation {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
/* Ul styles */
#socialx ul {
  list-style: none;
}
#socialx ul > li {
  display: inline;
  margin-right: 20px;
}
/*
* Icon styles
*
* There are styles for icon and everything which are connected with it.
*/
.icon {
  display: inline-block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  color: #f1f1f1;
  line-height: 52px;
  text-align: center;
  background-color: #000000;
}
.icon:after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  box-sizing: content-box;
}
/* Hover effect */
.icon-effect .icon {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.icon-effect .icon:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f1f1f1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
.icon-effect-1a .icon:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.icon-effect-1a .icon:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.carousel .item {
  height: 100vh;
  width:100%;
}

.carousel .icon-container {
  display: inline-block;
  font-size: 25px;
  line-height: 25px;
  padding: 1em;
  text-align: center;
  border-radius: 50%;
}


@keyframes flash {
  0% { color: #ff0000; } /* Red */
  50% { color: #ffff00; } /* Yellow */
  100% { color: #ff0000; } /* Red */
}

.flashing {
  font-weight: bold;
  animation: flash 1s infinite;
  font-size: 16px;
  text-decoration: none;
}